# Ignorar arquivos gerados pelo Eclipse
.settings/
.classpath
.project

# Ignorar arquivos compilados
bin/

# Ignorar dependencias externas
libs/

#Ignorar informações de conexão com o banco
conexao.properties